# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Media and static files
/media/
/staticfiles/


# VSCode & PyCharm & virtual env
.vscode/
.idea/
venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# dotenv
.env
web_image.tar
postgresql_image.tar
